# Cloudinary Configuration
CLOUD_NAME=your_cloud_name
CLOUD_API_KEY=your_cloud_api_key
CLOUD_API_SECRET=your_cloud_api_secret

# Mapbox Token
MAP_TOKEN=your_mapbox_token

# MongoDB Atlas Database URL
ATLASDB_URL=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/wanderlust?retryWrites=true&w=majority&appName=Cluster0

# Session Secret
SECRET=your_session_secret_key
